<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>To Do List</title>
</head>
<body>

    <section class="main-container" ng-controller="TodoController as $ctrl">
        <p class="title">TODO List</p>
        <p class="tagline">A place to store the things you have to do!</p>
        <input type="text" placeholder="Filter your to-dos">
        
        <ol>
            <section class="list-container" ng-repeat="todo in $ctrl.todoObject track by $index">
                <li ng-class="{'completed': todo.completed === true}"><button class="complete-btn" ng-if="!todo.completed">Complete</button>{{todo.task}}</li>
                <i class="material-icons">clear</i>
            </section>
        </ol>

        <input type="text" placeholder="Add your to do">

        <button class="add-btn">Add</button>

    </section>    
    

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>
</html>